<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>First AngularJS Application</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="myController.js"></script>
    <script src="myService.js"></script>
</head>
<body ng-controller="myController"> 
    
    <ul>
        <li ng-repeat="car in cars">
            <span ng-bind="car.name"></span> - <span ng-bind="item.description"></span> 
             <button ng-click="editItem(item)">Edit</button>
            <button ng-click="deleteItem(item)">Delete</button>
        </li>
    </ul>
     <form ng-submit="saveItem()">
        <label>Name:</label>
        <input type="text" ng-model="currentItem.name" required><br>
        <label>Description:</label>
        <input type="text" ng-model="currentItem.description" required><br>
        <button type="submit">Save</button>
    </form>
</body> 
</html> 
